<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<span class="align-middle">
	<div style="color:black;background-color: rgb(146, 185, 185);  background-position: center;background-repeat: no-repeat;background-size: cover;">

		<div>
			<h1 style="text-align:center;">FIRST YEAR PERSISTANCE PREDICTION</h1>
		</div>
		<div style="margin-top:50px; margin-left:500px; margin-right:200px">
			<form action="#" method='post'>
				<div class="form-group">
					<label for="First Term GPA">First Term GPA :</label>
					<input type="text" class="form-control" name="fgpa" id="fgpa" aria-describedby="emailHelp"
						placeholder="Enter first term GPA" style="width:700px">
				</div>
				<div class="form-group">
					<label for="Second Term GPA">Second term gpa :</label>
					<input type="text" class="form-control" name="sgpa" id="sgpa" placeholder="Enter second term GPA"
						style="width:700px">
				</div>
				<div class="form-group">
					<label for="First Language Numeric">First Language Numeric :</label>
					<input type="text" class="form-control" name="fln" id="fln"
						placeholder="Enter First Language Numeric" style="width:700px">
				</div>
				<div class="form-group">
					<label for="Funding">Funding Numeric :</label>
					<input type="text" class="form-control" name="fn" id="fn" placeholder="Enter Funding Numeric"
						style="width:700px">
				</div>
				<div class="form-group">
					<label for="Fasttrack">Fast Track Numeric :</label>
					<input type="text" class="form-control" name="ftn" id="ftn" placeholder="Enter Fast Track Numeric"
						style="width:700px">
				</div>
				<div class="form-group">
					<label for="Coop">Coop Numeric :</label>
					<input type="text" class="form-control" name="cn" id="cn" placeholder="Enter Coop Numeric"
						style="width:700px">
				</div>
				<div class="form-group">
					<label for="Residency">Residency Numeric :</label>
					<input type="text" class="form-control" name="rn" id="rn" placeholder="Enter Residency Numeric"
						style="width:700px">
				</div>
				<div class="form-group">
					<label for="Gender Numeric">Gender Numeric :</label>
					<input type="text" class="form-control" name="gn" id="gn" placeholder="Enter Gender Numeric"
						style="width:700px">
				</div>
				<div class="form-group">
					<label for="PreviousEducation">Previous Education Numeric :</label>
					<input type="text" class="form-control" name="pen" id="pen"
						placeholder="Enter Previous Education Numeric" style="width:700px">
				</div>
				<div class="form-group">
					<label for="Age Group Numeric">Age Group Numeric :</label>
					<input type="text" class="form-control" name="agn" id="agn" placeholder="Enter Age Group Numeric"
						style="width:700px">
				</div>
				<div class="form-group">
					<label for="English Grade Numeric">English Grade Numeric :</label>
					<input type="text" class="form-control" name="egn" id="egn"
						placeholder="Enter English Grade Numeric" style="width:700px">
				</div>
				<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
			</form>
		</div>
		<div style="margin-top:20px; padding-bottom:20px; text-align:center">
			<p>
			<h1>{{result}}</h1>
			</p>
		</div>
	</div>
</span>

</html>